<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit customer</h1>
<p>
    <a href="/list-customer">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-customer}" th:object="${customerEdit}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
<table border="1">
    <tr>
        <th></th>
        <th>Old data</th>
        <th>New data</th>
    </tr>

    <th:block>

            <tr>
                <td>ID:</td>
                <td><p th:text="*{idCustomer}"/></td>
                <td><input type="text" th:field="*{idCustomer}"/>
                    <p th:if="${#fields.hasErrors('idCustomer')}" th:errors="*{idCustomer}"></p></td>
            </tr>
        <tr>
                <td>Name:</td>
                <td><p th:text="*{name}"/></td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td><p th:text="*{bidrthday}"/></td>
                <td><input type="date" th:field="*{bidrthday}"/></td>
            </tr>
            <tr>
                <td>Id Card:</td>
                <td><p th:text="*{cmnd}"/></td>
                <td><input type="text" th:field="*{cmnd}"/>
                    <p th:if="${#fields.hasErrors('cmnd')}" th:errors="*{cmnd}"></p></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><p th:text="*{phoneNumber}"/></td>
                <td><input type="text" th:field="*{phoneNumber}"/>
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><p th:text="*{email}"/></td>
                <td><input type="text" th:field="*{email}"/>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><p th:text="*{address}"/></td>
                <td><input type="text" th:field="*{address}"/></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><p th:text="*{customerType.nameType}"/></td>
                <td>
                    <select name="customerType">
                        <option th:each="p : ${customer_type}"
                                th:value="${p.id}"
                                th:text="${p.nameType}"
                                th:selected="(${p.id} == *{customerType.id})">

                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update customer"></td>
            </tr>

    </th:block>
    </table>
</form>
</body>
</html>
