<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-category">Tạo Mới Thể Loại</a><br>
<a href="/blogs">Danh Sách Blog</a>
<form>
    Tìm Kiếm Theo Thể Loại:
    <input name="keyword" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table border="1">
    <tr>
        <th>Tên Thể Loại</th>
    </tr>
    <th:block th:each="category: ${categories}">

        <tr>
            <td><a th:href="@{/list-category/__${category.id}__}"><p th:text="${category.name}"></p></a></td>
            <td><a th:href="@{/edit-category/__${category.id}__ }">Chỉnh Sửa</a></td>
            <td><a th:href="@{/delete-category/__${category.id}__ }">Xóa</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/categorys'(page=${categories.number - 1})}" th:if="${categories.hasPrevious()}">Previous</a>
    <span th:text="${categories.number + 1}"></span>/<span th:text="${categories.totalPages}"></span>
    <a th:href="@{'/categorys'(page=${categories.number + 1})}" th:if="${categories.hasNext()}">Next</a>
</div>
</body>
</html>